.CharacterSecondaryStats {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.CharacterTopStats {
  flex: 2;
  border-bottom: 2px solid #AAAAAA;
  display: flex;
}

.CharacterMiddleStats {
  flex: 4;
  border-bottom: 2px solid #AAAAAA;
}

.CharacterBottomStats {
  flex: 2;
  display: flex;
}

.CharacterIDNumber {
  flex: 1;
}

.CharacterName {
  flex: 8;
}